{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="container-fluid bg-dark-subtle py-5">
    <h1 class="h3 mb-3 fw-normal">Apostas</h1>

    {% if apostas %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Local</th>
                    <th scope="col">Campeonato</th>
                    <th scope="col">Time A</th>
                    <th scope="col">Pontos A</th>
                    <th scope="col">Pontos B</th>
                    <th scope="col">Time B</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Total</th>
                    <th scope="col">Resultado A</th>
                    <th scope="col">Resultado B</th>
                    <th scope="col">Finalizado</th>
                    <th scope="col">Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for aposta in apostas %}
                <tr>
                    <th>{{ aposta.id }}</th>
                    <td>{{ aposta.jogo.local }} {{ aposta.jogo.dataEHora }}</td>
                    <td>{{ aposta.jogo.campeonato.descricao }}</td>
                    <td>{{ aposta.jogo.timeCasa.nome }}</td>
                    <td>{{ aposta.resultadoCasa }}</td>
                    <td>{{ aposta.resultadoFora }}</td>
                    <td>{{ aposta.jogo.timeFora.nome }}</td>
                    <td>{{ aposta.valor_aposta }}</td>
                    <td>{{ aposta.total_premio }}</td>
                    <td>{{ aposta.jogo.resultadoCasa }}</td>
                    <td>{{ aposta.jogo.resultadoFora }}</td>
                    <td>{{ aposta.jogo.finalizado }}</td>
                    <td>{{ aposta.quitado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-center text-muted">Nenhuma aposta encontrada!</p>
    {% endif %}
</div>

{% endblock %}
