{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="container py-5">
    
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            <h1>Eitah... falhou...</h1>
            <h3>Página Em Construção</h3>
            <p>Cadastros somente com a administração.</p>
        </div>
    </div>

</div>

{% endblock %}