{% extends 'layout.html' %}

{% load static %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center py-5">
    <div class="col-12 col-md-6">
        <form method="post">
            {% csrf_token %}

            <h1 class="h3 mb-3 fw-normal">Login</h1>

            {% if msg != "" %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <div class="form-floating">
                <input name="usuario" type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                    required autofocus>
                <label for="floatingInput">Usuário</label>
            </div>
            <div class="form-floating">
                <input name="senha" type="password" class="form-control" id="floatingPasswordLogin"
                    placeholder="Password" required>
                <label for="floatingPasswordLogin">Senha</label>
            </div>
            

            <button class="btn btn-primary w-100 py-2 my-3" type="submit">Entrar</button>
            <a href="{% url 'pagina_cadastro' %}" class="btn btn-success w-100 py-2">Cadastre-se</a>
        </form>
    </div>
</div>
{% endblock %}